<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaterialWindowLib.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MaterialWindowLib.Wpf.Properties.Settings>
            <setting name="MaterialWindowHeight" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="MaterialWindowWidth" serializeAs="String">
                <value>525</value>
            </setting>
            <setting name="MaterialWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaterialWindowLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="IsMaterialWindowStateNormal" serializeAs="String">
                <value>True</value>
            </setting>
        </MaterialWindowLib.Wpf.Properties.Settings>
    </userSettings>
</configuration>